# Python
__pycache__/
*.py[cod]
*$py.class
.Data/
# Jupyter
.ipynb_checkpoints/
*.ipynb_save

# Virtual envs
.env
.venv
env/
venv/

# Data & models
*.pth
*.pt
*.npy
*.npz
*.h5

# Logs & caches
*.log
.mypy_cache/
.pytest_cache/

# OS
Thumbs.db
.DS_Store

# Editors
.vscode/

# Project-specific
Data/fold*/
Data/UrbanSound8K.csv
